{% extends "auctions/layout.html" %} {% block title %}{{auction.listing_name}}
{% endblock %} {% block body %}
<div
  style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: none;
  "
>
  <li style="list-style-type: none">
    <img
      src="{{auction.url_image}}"
      style="
        display: block;
        height: auto;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
      "
    />
    <div
      class="text"
      style="padding-left: 100px; font-family: sans-serif; padding-top: 30px"
    >
      <h1 style="font-size: 20px; font-weight: bold">
        {{auction.listing_name}}
      </h1>
      {% if user.is_authenticated and not auction.closed and not watchlist %}
      <form action="{% url 'watchlist' %}" method="post">
      {% csrf_token %}
      <button type="submit" name='watch' value={{auction.id}} style="margin-top:15px;margin-bottom: 20px;" >Watch</button>
      </form>
      {% endif %}
      {% if user.is_authenticated and not auction.closed and watchlist %}
      <form action="{% url 'watchlist' %}" method="post">
      {% csrf_token %}
      <button type="submit" name='unwatch' value={{auction.id}} style="margin-top:15px;margin-bottom: 20px;" >Unwatch</button>
      </form>
      {% endif %}
      {% if auction.closed and user.auction_id != auction.id %}
      <div class="alert alert-warning" role="alert">
  This Listing is closed!
</div>
{% endif %}
      {% if user.auction_id == auction.id and auction.closed %}
          <div class="alert alert-success" role="alert">
          You have won this item !</div>
          <div class="alert alert-warning" role="alert">
  This Listing is closed!
</div>
     {% endif %}
      <h2 style="font-size: 20px; font-weight: bold">
        Starting Bid: ${{auction.starting_bid}}
      </h2>
      {% if bid %}
      <h2 style="font-size: 20px; font-weight: bold">
        Current Bid: ${{bid.bid}}
      </h2>
      {% endif %}
      <p>Seller: {{auction.seller}}</p>
      <h2 style="font-size: 20px; font-weight: bold; padding-top:10px">Description</h2>
      <p>{{auction.description}}</p>
      {% if user.is_authenticated and user.username != auction.seller and not auction.closed %}
      <form action="{% url 'auctionpage' auction.id %}" method="post">
        {% csrf_token %} {% for f in form %}
        <h2 style="font-size: 20px; font-weight: bold;">{{f.label}}</h2>
        <p> {{f}} <input type="submit" value="Submit" /></p>
        {% endfor %}
      </form>
      <form action="{% url 'auctionpage' auction.id %}" method="post">
        {% csrf_token %} {% for f in comment_form %}
        <h2 style="font-size: 20px; font-weight: bold;" >{{f.label}}</h2>
        <p> {{f}} <input type="submit" value="Submit" /></p>
        {% endfor %}
      </form>

      {% endif %}
      <h2 style="font-size: 20px; font-weight: bold; padding-top:10px">Comments</h2>
      {% if comment %}
      {% for c in comment %}
      <p>{{user}} {{c.date}}</p>
      <p>{{c.comment_section}}</p>
      {% endfor %}
      {% endif %}
      {% if user.username == auction.seller and not auction.closed %}
      <form action="{% url 'auctionpage' auction.id %}" method="get">
      {% csrf_token %}
      <button type="submit" name='close' value={{auction.id}} >Close the Bid</button>
      {% endif %}
    </div>
  </li>
</div>
{% endblock %}
